spring:
  application:
    name: paqueteria-tracker-api
  
  security:
    jwt:
      secret: ${JWT_SECRET}
      expiration: ${JWT_EXPIRATION}
  
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

server:
  port: ${SERVER_PORT}
  servlet:
    context-path: ${SERVER_CONTEXT_PATH}

logging:
  level:
    com.tracker: DEBUG
    org.springframework.security: DEBUG
    org.springframework.data.mongodb: INFO

app:
  qr:
    base-url: ${QR_BASE_URL}
  report:
    output-dir: ${REPORT_OUTPUT_DIR}
  password-reset:
    base-url: ${PASSWORD_RESET_BASE_URL}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true

